input[type="text"],
input[type="password"] {
	width: 500px;
	height: 100px;
	font-size: 30px;
	padding: 10px;
	outline: 0px;
	border: 1px solid lightgray;
	transition: outline .2s;
}
input[type="text"]:focus,
input[type="password"]:focus{
	transition: outline .2s;
	outline: 5px solid lightblue;
}
