@font-face {
  font-family: "MISans Bold";
  src: url(../fonts/MiConv.com__MiSans-Bold.woff);
}

@font-face {
  font-family: "MISans Medium";
  src: url(../fonts/MiConv.com__MiSans-Medium.woff2);
}

@font-face {
  font-family: "MISans Regular";
  src: url(../fonts/MiConv.com__MiSans-Regular.woff2);
}

@font-face {
  font-family: "MISans Light";
  src: url(../fonts/MiConv.com__MiSans-Light.woff2);
}
