<header class="header">
  <div class="header__logo"><b>达</b>可</div>
  <ul class="header__font">
    <li class="header__font-nav header__icon">
      <img src="images/search.svg" alt="">
    </li>
    <li class="header__font-nav"><a class="nav-hover" href="">首页</a></li>
    <li class="header__font-nav"><a class="nav-hover" href="">文章</a></li>
    <li class="header__font-nav"><a class="nav-hover" href="">想法</a></li>
    <li class="header__font-nav"><a class="nav-hover" href="">留言</a></li>
  </ul>
</header>