<div style="width: 50%; padding: 4rem;">
  <div class="plan plan__popular">
    <div class="card">
      <header class="card__header card--secdonary">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badage--secdonary badage--small">10% OFF</span>
        <p class="plan__description">East start on the could</p>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Unlimited Websites</li>
          <li class="list__item">Unlimited Bandwidth</li>
          <li class="list__item">100GB SSD Storage</li>
          <li class="list__item">Unlimited Bandwidth</li>
        </ul>
        <button class="btn btn-outline btn-block">BUY NOW</button>
      </div>
    </div>
  </div>
</div>